<header class="site-hero">
  <nav class="site-nav wrapper">
    <a class="nav-logo" href="{{ "/" | relative_url }}">
      <img src="{{ "/logo.jpg" | relative_url }}" alt="Grünwerkatelier" />
    </a>
    <ul class="nav-menu">
      <li><a href="{{ "/" | relative_url }}">Start</a></li>
      <li><a href="{{ "/about" | relative_url }}">Über uns</a></li>
    </ul>
  </nav>
  <div class="hero-content wrapper">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
    <a class="button" href="#products">Unsere Produkte</a>
  </div>
</header>
